<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<main>
    <%- include('../partials/flash') %>

    <div class="container mt-3">
        <table>
    <thead>
        <tr>
            <th colspan="8">Ticket Queue</th>
        </tr>
    </thead>
    <thead>
    <tr>
            <td>Ticket #</td>
            <td>Assigned Tech</td>
            <td>Status</td>
            <td colspan="2">Description</td>
            <td>Requested By</td>
            <td>Date Created</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <% allTickets.forEach(ticket => { %>

        
        <tr>
            <td><%= ticket.id.substring(0,10) %></td>
            <% if(ticket.tech === null) { %>
                <td>None</td>
                <% } else { %>
                    <td><%= ticket.name %></td>
                    <% } %>
                    <td><%= ticket.status %></td>
            <td colspan="2"><%= ticket.description %></td>
            <td><%= ticket.requestedBy %> - <%= ticket.department %></td>
            <td><%= ticket.createdAt.toLocaleString() %></td>
            <td>
                <% if(currentUser.role === 'Tech') { %>
                <a class="btn btn-primary" href="">Assign To Myself</a>
                <% } else { %>
                 <a class="btn btn-primary" href="">Edit</a> 
                 <a class="btn btn-danger" href="">Delete</a> 
                 <% } %>
                </td>
        </tr>
    <% }) %>
    </tbody>
</table>
      </div>

</main>


<%- include('../partials/footer') %>